/*Main elements' CSS*/
body { /*background-image: url(4389.jpg); */}
h2 { text-align: center; }
.background-container-fluid { background-color: #002366; color: white; width: 100%; height: 250px; }
.background-container-fluid h2{font-weight: bold; text-align:center; padding-top: 30px;}
.fluid-container .row {margin-left:200px;background-color: #FFFFFF;}
.fluid-container .row h1{color: #002366;}
.fluid-container .col { background-color: #FFFFFF;}
.fluid-container .row p{color: #002366;}
/*Footer CSS */
footer { background-color: #002366; color: #FFFFFF; background-size: cover; height: 75pxx; text-align: center; }
footer p { text-align: center; }
footer .fa-facebook {
  background-color:#002366;
  color: white;
}
footer .fa-instagram {
  background-color:#002366;
  color: white;
}	
/*Navbar CSS */
.navbar-nav {padding-left: 150px; color: #FFFFFF }
.navbar { color:#FFFFFF; }
/*main image CSS*/
.fluid img { width: 100%; height: auto; }
/*Bootstrap Column CSS */
.col { /*margin-left: 65x;*/ background-color: #002366;}
.col h1 { color: white; }
.col p { color:white;}
.col-md h2 { text-align: center; }
.col-md h4 { text-align: center; }
.col-md img { display: block; margin-left: auto; margin-right: auto; width: 50%; /*padding-left:90px;*/}
/*.row {background-color: #002366; margin: auto; width: 100%; padding: 10px;} */
.container {margin: auto; width: auto; padding: 10px; }
.container-fluid { width: 100%; background-color: #FFFFFF; }
.image-container { width: 80px; margin:70px; min-width: 900px;
                   max-width: 1280px; }
/*Contact us social media buttons css*/				   
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}
.fa:hover {
    opacity: 0.7;
}
 .fa-facebook {
  background: #3B5998;
  color: white;
}
 .fa-instagram {
  background: #125688;
  color: white;
}				   
/*About CSS	*/			   
#more {display: none;}
#more1 {display:none;}
#more2 {display:none;}
.Founders { text-align: center; color: #002366  }

/*History CSS */
.History h1 { text-align: center; color: #002366 }
.Mission h1 { text-align: center; color: #002366 }
